/* src/assets/styles/animations.less */
@keyframes toLeftAnim {
    0% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(calc(-50% - 1.25rem));
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes toRightAnim {
    0% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(calc(-50% + 1.25rem));
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes toTopAnim {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -1rem);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

/* 单位 wrapper 上切换这几个 class 即可触发动画 */
.unit-wrapper {
    /* 防止动画期间布局闪动 */
    will-change: transform;
    left: 50%;
    transform: translateX(-50%);
    position: relative;

    &.attack {
        animation: toRightAnim 0.4s ease-in;
    }

    &.hit {
        animation: toRightAnim 0.4s ease-out 0.1s;
    }

    &.counterattack {
        animation: toLeftAnim 0.4s ease-in;
    }

    &.hit-counter {
        animation: toLeftAnim 0.4s ease-out 0.1s;
    }

    &.miss {
        animation: toTopAnim 0.4s ease-in;
    }
}